body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.text-section {
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

footer {
    background-color: #ff0000;
    color: black;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.footer-container div {
    flex: 1;
    min-width: 200px;
}

footer a {
    color:grey;
    text-decoration: none;
}